extends layout 

block content 
  div(class='container', style='border: 2px solid #2192FF; width: 450px;')
    h1(style="text-align: center; color: #FF1E1E")= title 
    br
    div(class='container' style="text-align: center; width: 450px;")
      form(id='birdForm', action="/resource/bird", method="POST") 
        div.form-group 
          div(class="form-group row mb-2") 
            label.birdAttr(for='birdName', class='col-4 col-from-label') birdName 
            div(class='col-6' style='width: 250px;')
              input#costume_type(class='form-control form-control-sm', type='text', name='birdName') 
        div.form-group 
          div(class="form-group row mb-2") 
            label.birdAttr(for='birdWeight', class='col-4 col-from-label') birdWeight 
            div(class='col-6' style='width: 250px;')
              input#birdWeight(class='form-control form-control-sm', type='number', name='birdWeight', step='any') 
        div.form-group
          div(class="form-group row mb-2")  
            label.birdAttr(for='mainIngredient', class='col-4 col-from-label') birdColor
            div(class='col-6' style='width: 250px;')
              input#birdColor(class='form-control form-control-sm',  type='text', name='birdColor') 
        input(class='btn btn-outline-success' type="submit" style='width: 150px; margin: 6px;') 

  script. 
    document.forms['birdForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 