extends layout 
 
block content 
  h1= title 
 
  form(id='birdForm', action="/resource/bird", method="POST") 
    div.form-group 
        label.birdAttr(for='birdName') bird name 
        input#birdName(type='text', name='birdName') 
    div.form-group 
        label.birdAttr(for='birdWeight') bird weight 
        input#birdWeight(type='number', name='birdWeight') 
    div.form-group 
        label.birdAttr(for='birdColor') bird color 
        input#birdColor(type='text', name='birdColor') 
    input(type="submit") 
 
  script. 
    document.forms['birdForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 